$background-color: #dfe5ed;
$user-box-background-color: #ebf2f9;
$user-box-border: 1px solid #e9e9e9;
$dar-grey: #4c4c4c;

$chat-background-color: #e8f1f9;
$message-you: #1b233d;
$message-other: #fffefe;
